{% assign services = site.data.data.services %}
{% if services %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
    </span>
    Services
  </h2>

  {% for service in services %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ service.title }}</h3>
        <div class="time">{{ service.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ service.venue }}</div>

    </div><!--//meta-->

    {% if service.details %}
    <div class="details">
      {{ service.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

